.button {
  background-color: #01b075;
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  margin-right: 20px;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, Roobert, BlinkMacSystemFont,
    "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 22px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transition: box-shadow 150ms;
  height: 52px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  box-shadow: 0 0 2px 1px #01b075;
}

@media (min-width: 768px) {
  .button {
    padding: 10px 30px;
  }
}
