.div {
    display: flex;
    flex-direction: column;
    margin: 15px;
    width: 400px;
}

.div input {
    padding: 15px;
    font-size: large;
    margin: 10px 0;
    border-radius: 5px;
}

.div span {
    display: none;
    color: rgb(255, 64, 64);
    font-size: 15px;
}

.div input:invalid[alt="true"] {
    border: 1px solid red;
}

.div input:invalid[alt="true"] ~ span{  /* wtf?*/
    display: block; 
}