.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  padding: 20px;
  width: 50%;
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, Roobert, BlinkMacSystemFont,
    "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

.main button {
  margin-top: 30px;
}
