.page {
  width: 1000px;
  padding-top: 65px;
  margin: auto;
  background-color: #16171b;
  font-family: -apple-system, BlinkMacSystemFont, Roobert, BlinkMacSystemFont,
    "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}
