.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #202125;
  width: 230px;
  font-family: -apple-system, BlinkMacSystemFont, Roobert, BlinkMacSystemFont,
    "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

.wrapper {
  width: 230px;
  padding-top: 20px;
  padding-bottom: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

.wrapper::-webkit-scrollbar {
  background-color: transparent;
  width: 0px;
}

/* .wrapper::-webkit-scrollbar {
    width: 8px;
  }
  

  .wrapper::-webkit-scrollbar-thumb {
    background-color: rgba(65, 202, 140, 0.5);
    border-radius: 8px;
  }
  

  .wrapper::-webkit-scrollbar-track {
    background-color: transparent;
  }
 */
.button {
  width: 100%;
  text-align: left;
  height: 30px;
}
